$bg-home-introduction: #f1f1f1;
$bg-service-grey: #2d3136;
$bg-service-pink: #f16477;

$text-introduction-pink: #f16477;
$text-introduction-grey: #444343;

$text-about-pink: #f16477;
$text-about-grey: #444343;