.footer {

  &__copyright {
    background: $bg-pink;
    float: left;
    padding: ($spacing-unit * 4 + 2) 0;
    text-align: center;
    width: 100%;

    p {
      @include font-size(10px);
      @include line-height(16px);
      color: $theme-white;
      display: block;
      font-family: $font-stack;
      margin-bottom: ($spacing-unit);

      a {
        color: $theme-white;
      }

      @media #{$ipad} {
        @include font-size(14px);
      }

    }

  }

}