.footer {

  &__info {
    background: $bg-light-pink;
    float: left;
    padding: ($spacing-unit * 4) 0;
    width: 100%;

    @media #{$ipad-landscape} {
      padding: ($spacing-unit * 6) 0;
    }

    &__item {
      float: left;
      margin-bottom: ($spacing-unit * 4);
      width: 100%;
    }

    h2 {
      @include font-size(16px);
      color: $theme-white;
      letter-spacing: .8px;
      margin-bottom: ($spacing-unit * 4);
    }

    ul {

      li {

        a {
          @include line-height(22px);
          color: $theme-white;
          display: block;
          font-family: $font-stack;
          margin-bottom: ($spacing-unit);
        }

      }

      &.footer-social {

        li {
          display: inline-block;
          margin-right: ($spacing-unit * 2);

          &:last-of-type {
            margin-right: 0;
          }

          a {
            @include font-size(24px);
            cursor: pointer;
            display: block;
            font-family: $font-stack;
          }

        }

      }

    }

    p {
      @include line-height(22px);
      color: $theme-white;
      font-family: $font-stack;

      a {
        color: $theme-white;
        font-family: $font-stack;
      }

    }

  }

}