$font-stack: 'Montserrat', sans-serif;
$font-text: 'Open Sans', sans-serif;

//Spacing Variables

$spacing-unit: 5px;

$theme-white: #fff;
$theme-black: #000;

$dayfive: #20aacb;

//Media Query Variables

$mobile: 'only screen and (min-width: 480px)';
$mobile-landscape: 'only screen and (min-width: 568px)';

$mobile-iphone6: 'only screen and (min-width: 375px)';
$mobile-iphone6-landscape: 'only screen and (min-width: 667px)';

$ipad: 'only screen and (min-width: 768px)';
$ipad-landscape: 'only screen and (min-width: 991px)';

$desktop: 'only screen and (min-width: 1200px)';

$firefox: 'url-prefix()';