.home {

  &__services {
    float: left;
    padding-top: ($spacing-unit * 2);
    width: 100%;

    &__item {
      float: left;
      margin: ($spacing-unit * 4) 0 0;
      width: 100%;

      .service-img {

      }

      .service-content {
        background-color: $bg-service-grey;
        background-image: url('./images/service-strip.png');
        background-size: cover;
        float: left;
        padding: ($spacing-unit * 2) 0;
        text-align: center;
        width: 100%;

        h3 {
          @include font-size(16px);
          color: $theme-white;
          letter-spacing: .5px;
          margin-bottom: ($spacing-unit * 2);
          padding-top: ($spacing-unit * 2);

          @media #{$ipad} {
            @include font-size(12px);
          }

          @media #{$ipad-landscape} {
            @include font-size(20px);
          }

        }

        a {
          @include font-size(14px);
          background: $bg-service-pink;
          color: $theme-white;
          display: block;
          margin: 0 auto ($spacing-unit * 4);
          max-width: 100px;
          padding: ($spacing-unit) ($spacing-unit * 2);
          text-align: center;
          text-decoration: none;
          transition: .4s transform cubic-bezier(.19, 1, .22, 1);
          width: 100%;

          &:hover {
            background: $theme-white;
            color: $bg-service-pink;
          }

        }

      }

    }

  }

}